.Article {
  max-width: 500px;
  width: 100%;
}

.titleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  max-width: 600px;
}

.descriptionBlock {
  text-align: left;
}
